@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

body{
  overflow: auto;
  &.noscroll{
    overflow: hidden;
  }
}

.bbq_modal-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
  .bbq_modal-inner{
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(30px);
  }
  .bbq_modal-bg{
    content: "";
    width: 100%;
    height: 100vh;
    background: #fde4658c;
    position: absolute;

  }
  .bbq_modal-close{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    vertical-align: middle;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    gap: 8px;
    margin-bottom: 4rem;
   
    .close_btn{
      width: 9px;
      line-height: 0;
      transform: rotate(0);
      transition: transform .3s ease;
    }
    .close{
      font-size: spFont(16);
      line-height: 1;
    }
    &:hover{
      .close_btn{
        transform: rotate(90deg);
      }
    }
    @include pc{
      bottom: unset;
      top: 0;
      right: 0;
      transform: translateX(0);
      margin-bottom: unset;
      margin-top: 5%;
      margin-right: pcCalc(42);
      .close_btn{
        width: 19px;
      }
      .close{
        font-size: pcFont(24);
      }
    }
  }
}

.bbq-modal{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  @include pc{
    width: pcCalc(1143);
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1143px;

  } 

}

.bbq-youtube iframe{
  background: #fff;
  width: 100%;
  aspect-ratio: 16 / 9;
  
}

.item_detail{
  margin: spCalc(23) auto 0;
  width: spCalc(104);
  opacity: 1;
  transition: opacity .3s ease;
  &:hover{
    opacity: .6;
  }
  a{
    border-radius: 15px;
    display: block;
    color: c.$main;
    font-size: spFont(12);
    text-align: center;
    line-height: 1;
    padding: calc(8 / 104) * 100% 0;
    background: c.$txt;
  }
  @include pc{
    margin: calc(41 / 1143) * 100%  auto 0; 
    width: calc(214 / 1143) * 100%; 
    a{
      font-size: pcFont(20);
      padding: calc(19 / 214) * 100% 0;
      border-radius: 30px;
    }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}