<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P78GF8Q');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">


    <title>│特集企画│ロゴス：LOGOS</title>

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon/brand-site/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/brand-site/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/brand-site/android-chrome.png">

    <meta name="keywords" content="">
    <meta name="description" content="">



    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200px">
    <meta property="og:image:height" content="630px">
    <meta property="fb:app_id" content="">
    <meta property="fb:admins" content="">




    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/style.css">
    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/lightbox.css">
    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/desktop.css"
        media="screen and (min-width: 768px)">
    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/tab.css"
        media="screen and (min-width: 768px) and (max-width: 1025px)">
    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/smart.css"
        media="screen and (max-width: 767px)">
    <link rel="stylesheet" type="text/css" href="https://www.logos.ne.jp/css/brand-site/swiper.min.css">


    <style type="text/css">
        .only_app {
            display: none !important;
        }
    </style>

    <script defer src="https://www.logos.ne.jp/js/brand-site/all.min.js"></script>
    <script type="text/javascript" src="https://www.logos.ne.jp/js/brand-site/swiper.min.js" defer></script>
    <script>
        (function (d) {
            var config = {
                kitId: 'pzy5puw',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <!--[if lt IE 9]>
<script type="text/javascript" src="./assets/js/selectivizr-min.js" defer></script>
<script type="text/javascript" src="./assets/js/html5shiv.min.js" defer></script>
<![endif]-->
    <script type="text/javascript" src="https://www.logos.ne.jp/js/brand-site/jquery-3.2.1.min.js"></script>
    <script src="https://www.logos.ne.jp/js/brand-site/ofi.min.js" defer></script>
    <script src="https://www.logos.ne.jp/js/brand-site/picturefill.min.js" defer></script>
    <script type="text/javascript" src="https://www.logos.ne.jp/js/brand-site/myscript.js" defer></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P78GF8Q" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrapper">
        <header>
            <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ PCナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
            <div class="header_in"><a href="https://www.logos.ne.jp">
                    <h1 class="logo">
                        <div class="img"><img src="https://www.logos.ne.jp/assets/img/brand-site/common/h_logo.png"
                                alt="LOGOS"></div>
                        <div class="txt">
                            <p class="midashigo">おしゃべりLOGOS</p>
                            <p class="en garamond">Enjoy Outing !</p>
                        </div>
                    </h1>
                </a>
                <nav id="gnav01" class="is_pc">
                    <ul class="menu_t">
                        <li class="contact" id="contact_menu"><a href="#">お問い合わせ<span><i
                                        class="fas fa-angle-down"></i></span></a>
                            <ul class="menu_t_in">
                                <li><a href="https://www.logos.ne.jp/support/contact">総合</a></li>
                                <li><a href="https://www.logos.ne.jp/contact">法人</a></li>
                            </ul>
                        </li>
                        <li class="logosfamily"><a href="https://www.logos.ne.jp/logos_family" target="_blank">
                                <div class="img"><img
                                        src="https://www.logos.ne.jp/assets/img/brand-site/common/logosfamily_logo.png"
                                        alt=""></div>
                                <p>ロゴスファミリー</p>
                            </a></li>
                        <li class="online_shop"><a href="https://www.logos.ne.jp/products" target="_blank"
                                style="background:url(/storage/brandsite/common/r6CM8b4BlICDbGNqJ6sSgAQLyDnqw2rBSJDq8Tcj.jpg) center center / cover no-repeat;">
                                <p></p>
                                <div class="img"></div>
                                <div class="ancle_r"><span><i class="fas fa-angle-right"></i></span></div>
                            </a></li>
                    </ul>
                    <div class="menu_b">
                        <ul>
                            <li><a href="https://www.logos.ne.jp/about">ロゴスに<br class="is_tab">ついて</a></li>
                            <li><a href="https://www.logos.ne.jp/monthly-logos">月刊ロゴス</a></li>
                            <li><a href="https://www.logos.ne.jp/special">特集</a></li>
                            <li><a href="https://www.logos.ne.jp/shop">店舗情報・<br>ブログ</a></li>
                            <li><a href="https://www.logos.ne.jp/news-list">ニュース</a></li>
                        </ul>
                        <div class="menu_open" id="menu_open"><span></span><span></span><span></span></div>
                    </div>
                </nav>
                <nav id="gnav01_sp" class="is_sp">
                    <div class="menu_open" id="menu_open_sp"><span></span><span></span><span></span></div>
                </nav>
                <nav id="gnav02">
                    <ul>
                        <li class="icon heart"><a href="https://www.logos.ne.jp/logos_family">ロゴスファミリー</a></li>
                        <li class="icon cart"><a href="https://www.logos.ne.jp/products" target="_blank">オンラインショップ / <br
                                    class="is_sp">製品情報</a></li>
                        <li class="icon search"><a href="#" id="concierge_search_menu">コンシェルジュ検索</a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.logos.ne.jp">トップ</a></li>
                        <li><a href="https://www.logos.ne.jp/about">ロゴスについて</a></li>
                        <li><a href="https://www.logos.ne.jp/monthly-logos">月刊ロゴス</a></li>
                        <li><a href="https://www.logos.ne.jp/special">特集</a></li>
                        <li><a href="https://www.logos.ne.jp/shop">店舗情報 / ブログ</a></li>
                        <li class="nav_open active"><a>ニュース<span class="open_icon"><span class="icon"></span></span></a>
                            <ul>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=0">ALL</a></li>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=1">プレスリリース</a></li>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=2">イベント</a></li>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=3">製品情報</a></li>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=4">店舗情報</a></li>
                                <li><a href="https://www.logos.ne.jp/news-list?newsCategoryType=5">お知らせ</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu02">
                        <li><a href="https://www.logos.ne.jp/catalog">カタログ・オリジナルマガジン</a></li>
                        <li><a href="https://www.logos.ne.jp/material">素材について</a></li>
                        <li><a href="https://www.logos.ne.jp/approval-shop">正規WEB販売店案内</a></li>
                        <li><a href="https://www.logos.ne.jp/business">グランピング事業</a></li>
                        <li><a href="http://www.logos-co.com/profile/" target="_blank">会社情報</a></li>
                        <li><a href="https://logos-recruit.jp/" target="_blank">ロゴス/ロゴスショップで働きたい⼈へ</a></li>
                    </ul>
                    <ul class="menu02">
                        <li><a href="https://www.logos.ne.jp/support/contact">お問い合わせ（総合受付）</a></li>
                        <li><a href="https://www.logos.ne.jp/contact">お問い合わせ（法人のお客さま）</a></li>
                    </ul>
                    <ul class="menu02">
                        <li><a href="https://www.logos.ne.jp/site-map">サイトマップ</a></li>
                        <li><a href="https://www.logos.ne.jp/site-use">サイトご利用規約</a></li>
                        <li><a href="https://www.logos.ne.jp/privacy-policy">プライバシーポリシー</a></li>
                        <li><a href="https://www.logos.ne.jp/global">Global Site</a></li>
                    </ul>
                    <div class="box">
                        <div class="icon_wrap">
                            <h2 class="garamond">OFFICIAL SNS</h2>
                            <div class="item"><a href="https://instagram.com/logos_enjoy_outing" target="_blank"
                                    class="item_in">
                                    <div class="img"><img
                                            src="https://www.logos.ne.jp/assets/img/brand-site/common/f_instagram.png"
                                            alt="Instagram"></div>
                                    <p class="garamond">Instagram</p>
                                </a><a href="https://twitter.com/Enjoy_Outing" class="item_in">
                                    <div class="img"><img
                                            src="https://www.logos.ne.jp/assets/img/brand-site/common/f_x.png"
                                            alt="Twitter"></div>
                                    <p class="garamond">X</p>
                                </a><a href="https://www.facebook.com/LOGOS.outdoorbrand/" class="item_in">
                                    <div class="img"><img
                                            src="https://www.logos.ne.jp/assets/img/brand-site/common/f_facebook.png"
                                            alt="Facebook"></div>
                                    <p class="garamond">Facebook</p>
                                </a><a href="https://www.youtube.com/user/outdoorlogos" class="item_in">
                                    <div class="img"><img
                                            src="https://www.logos.ne.jp/assets/img/brand-site/common/f_youtube.png"
                                            alt="YouTube"></div>
                                    <p class="garamond">YouTube</p>
                                </a><a href="https://vt.tiktok.com/ZSnEjYTh/" class="item_in">
                                    <div class="img"><img
                                            src="https://www.logos.ne.jp/assets/img/brand-site/common/f_tiktok.png"
                                            alt="TikTok"></div>
                                    <p class="garamond">TikTok</p>
                                </a></div>
                        </div>
                        <div class="apps_wrap garamond">
                            <h2>LOGOS FAMILY APP</h2>
                            <div class="apps_link"><a
                                    href="https://apps.apple.com/jp/app/logos-%E3%83%AD%E3%82%B4%E3%82%B9%E5%85%AC%E5%BC%8F%E3%82%A2%E3%83%97%E3%83%AA/id1335954939"
                                    target="_blank">iOS</a><a
                                    href="https://play.google.com/store/apps/details?id=jp.ne.logos.www.logos"
                                    target="_blank">Android</a></div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ PCナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->
        </header>
        <main>
            <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ パンくずリスト ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
            <div class="breadcrumb is_pc">
                <div class="container">
                    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscopeitemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="https://www.logos.ne.jp"><span itemprop="name">ホーム</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscopeitemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="https://www.logos.ne.jp/special"><span
                                    itemprop="name">特集</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li itemprop="itemListElement" itemscopeitemtype="https://schema.org/ListItem"><a
                                itemprop="item"><!-- <span itemprop="name">カリー番長が指南！人気のスパイスカレーを作ってみよう。</span> --><span
                                    itemprop="name">特集名</span></a>
                            <meta itemprop="position" content="3" />
                        </li>
                    </ol>
                </div>
            </div>
            <!-- ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ パンくずリスト ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->

            <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ feature_details01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
            <section class="feature_details01">

                <div class="box">
                    <div id="special-content" class="s_container"></div>
                    <div id="special-content" class="s_container">
                        <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 以下に記述 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
                        <script>
                            (function (d) {
                                var config = {
                                    kitId: 'bfp6jdj',
                                    scriptTimeout: 3000,
                                    async: true
                                },
                                    h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
                            })(document);
                        </script>
                        <link rel="stylesheet" href="<%= rootURL %>/assets/css/style.css">