
    <div class="bbq_modal-inner">
        <div class="bbq_modal-bg"></div>
        <div class="bbq_modal-close">
            <div class="close_btn">
                <img src="/assets/img/close.png" alt="">
            </div>
            <div class="close">CLOSE</div>
        </div>
        <div class="bbq-modal">
            <div class="bbq-youtube">
                <!-- YouTube iframeがここに入る -->
            </div>
            <div class="item_detail">
                <a href="" target="_blank" class="product-link">
                    商品詳細
                </a>
            </div>
        </div>    
    </div>

