<div class="bbq-op">
    <div class="op-inner">
        <div class="op_people">
            <img src="/assets/img/op_people.png" alt="">
        </div>
        <div class="op_ph op_egg">
            <img src="/assets/img/op_egg.png" alt="">
        </div>
        <div class="op_ph op_1">
            <img src="/assets/img/op_1.png" alt="">
        </div>
        <div class="op_ph op_2">
            <img src="/assets/img/op_2.png" alt="">
        </div>
        <div class="op_ph op_3">
            <img src="/assets/img/op_3.png" alt="">
        </div>
        <div class="op_ph op_4">
            <img src="/assets/img/op_4.png" alt="">
        </div>
        <div class="op_ph op_5">
            <img src="/assets/img/op_5.png" alt="">
        </div>
        <div class="op_ph op_6">
            <img src="/assets/img/op_6.png" alt="">
        </div>
        <div class="op_ph op_7">
            <img src="/assets/img/op_7.png" alt="">
        </div>
        <div class="op_ph op_8">
            <img src="/assets/img/op_8.png" alt="">
        </div>
        <div class="op_ph op_9">
            <img src="/assets/img/op_9.png" alt="">
        </div>
        <div class="op_ph op_10">
            <img src="/assets/img/op_10.png" alt="">
        </div>
        <div class="op_ph op_11">
            <img src="/assets/img/op_11.png" alt="">
        </div>
        <div class="op_ph op_12">
            <img src="/assets/img/op_12.png" alt="">
        </div>
    </div>
    <p class="op_logos topen">
        <span class="op_letter op_logos_1">B</span><span class="op_letter op_logos_2">B</span><span class="op_letter op_logos_3">Q</span><span class="op_letter op_logos_4">&nbsp;</span><span class="op_letter op_logos_5">L</span><span class="op_letter op_logos_6">O</span><span class="op_letter op_logos_7">G</span><span class="op_letter op_logos_8">O</span><span class="op_letter op_logos_9">S</span>
    </p>
</div>
