@use './_reset';
@use './_mixin' as *;

$spw : 375;
$pcw : 1920;
$sec : 335;

$main : #FDE465;
$txt : #3E4733;
$bg : #FCFFD5;
$tag : #3E4733;

.bbq_logos{
    color: $txt;
    background-color: $main;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    
    a {
        text-decoration: none!important;
      }
      .bbq_logos-inner{
        width: 100%;
        background-image:  url(/assets/img/bg.png);
        background-size: cover;
        overflow: hidden;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     // width: pcCalc(750);
        //     // max-width: 750px;
        //     height: 100%;
        //     background: url(/assets/img/_sp.jpg) no-repeat 0 0 / contain;
        //     // background: url(/assets/img/_pc.jpg) no-repeat 0 0 / contain;
        //     background-size: 100%;
        //     pointer-events: none;
        //     opacity: 0.3;
        //     z-index: 1000;
        //   }
        @include pc{
            background-size: contain;
            background-repeat: repeat;
            position: relative;
            border: solid 1px $txt{
                bottom: 0;
                top: 0;
            };
            
        }
      }
}


 	
.ja{
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
}


.en{
    font-family: sofia-pro-soft, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.topen{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-style: normal;
}




#special-content{
    padding: 0!important;
    width: 100%!important;
    max-width: none !important;
  }
  
  
  
  @include pc{
    .feature_details01 .box {
        margin-top: 0rem!important;
    }
    .feature_details01 {
      padding-bottom: 0 !important;
  }
  }
  
  @include sp{
    .container, .s_container, .ss_container {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 20px;
    }
}   
// OP,LINEUP
@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}
@keyframes lePeek2 {
    5% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    30% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}


@keyframes yurayura_1 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes yurayura_2 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes yurayura_3 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.bbq-fadein,.bbq-fadein-delay{
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.6s cubic-bezier(0.68, 0.6, 0.32, 1.6), opacity 0.2s linear;
    &.in{
        transform: translateY(0);
        opacity: 1;
    }
}