@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


.lineup-wrap {
    border: solid 1px c.$txt {
        left: solid 0.5px c.$txt;
        right: solid 0.5px c.$txt;
    };
    background: #fff;
    border-radius: 165px;
    

    @include pc {
        border-radius: 330px;
    }

   .lineup-ttl {
        text-align: center;
        line-height: 1;
        font-weight: bold;
        font-size: spFont(32);
        margin-top: sec(67);
        
        .lineup-letter{
            transform: rotateX(0) translateY(0) rotate(0); 
            display: inline-block;
        }
        
        @include pc {
            font-size: pcFont(64);
        }
        &.active{
            .lineup-letter{
                animation-name: lePeek2;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-iteration-count:1;
            }
            
            
        }
    }
}
@for $value from 1 through 7 {
    .lineup-ttl .lineup-letter:nth-of-type(#{$value}) {
        animation-delay: 0.1s * $value;
    }
}



.sec1-lineup-wrap {
    padding-bottom: spCalc(75);
    .lineup-ttl {
        margin-bottom: sec(27);
    }
    .lineup{
        margin: 0 auto sec(39);
    }
}

.sec2-lineup-wrap {
    padding-bottom: spCalc(115);
    margin-top: 4%;
    .lineup-ttl {
        margin-top: 18.5%;
        margin-bottom: sec(32);
    }
    .lineup{
        margin: 0 auto sec(32);
    }
    @include pc {
        margin-top: 5%;
    }
    .lineup-detail {
        .lineup-price {
            margin: lineup(4) 0 4.5%;
        }
    }
}

.sec3-lineup-wrap {
    padding-bottom: sec(55);
    margin-top: sec(42);
    .lineup{
        margin: 0 auto sec(27);
    }
    .lineup-ttl {
        margin-top: 18%;
        margin-bottom: sec(35);
    }
}

.lineup {
    position: relative;
    display: flex;
    width: sec(285);
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    &:last-of-type {
        margin: 0 auto;
    }
    &.active{
        &::after,
        &::before {
            clip-path: inset(0);
        }
    }
    
    &::after,
    &::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        clip-path: inset(100%);
        transition: clip-path .5s linear;
    }
    &::after {
        top: 0;
        border-top: dotted 1.5px c.$txt;
    }

    &::before {
        bottom: 0;
        border-bottom: dotted 1.5px c.$txt;
    }
    .lineup-itemph {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 15;
        transition-delay: .5s;
    }
}



.lineup-detail {
    width: 50%;
    transition-delay: .5s;
    .lineup-name {
        white-space: nowrap;
        font-size: spFont(14);
        line-height: calc(19 / 14);
    }
    .lineup-price {
        font-size: spFont(16);
        line-height: 1;
        margin: lineup(5) 0 lineup(18);
    }
    @include pc {
        
        .lineup-name {
            font-size: pcFont(28);
        }

        .lineup-price {
            font-size: pcFont(32);
        }
    }
}

.vertical-txt-wrap{
    display: flex;
    width: sec(83);
    justify-content: space-between;
    &.active{
        .vertical-txt{
            clip-path: inset(0);
            p{
                clip-path: inset(0);
            }
        }
    }
    .vertical-txt{
        
        width: 45.7%;
        border-radius: 5px;
        background: c.$main;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        padding: 9px 14px;
        height: fit-content;
        clip-path: inset(0 0 100% 0 );
        transition: clip-path .5s linear;
        p{
            writing-mode: vertical-rl;
            white-space: nowrap;
            text-orientation: upright;
            font-size: spFont(20);
            letter-spacing: 0.01em;
            line-height: 1;
            transition: clip-path .5s linear;
        }
    }
    @include pc{
        width: pcSec(168);
        .vertical-txt{
            min-width: 38px;
            p{
                font-size: pcFont(40);
            }
        }
    }  
}

.package {
    width: lineup(67);
    line-height: 1;
    position: relative;
    z-index: 10;
    transform: scale(0,0);
    transition: transform .3s .6s linear;
    
    .package_txt{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: rotate(45deg);
        transition: transform .5s .8s linear,opacity .1s .8s ease;
    }
    &.active{
        transform: scale(1,1);
        .package_txt{
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

