@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


$right : 478;

.bbq_right{
    position: sticky;
    top: 0;
    right: 0;
    top: 90px;
    height: calc(100vh);
    display: none;
    @include pc{
        display: block;
    }
    &.start{
        .pc-mv_txt1,
        .pc-mv_txt2,
        .pc-mv_txt3{
            clip-path: inset(0);
        }
        .pc-mv_egg{
            transform: translate(0,0);
        }
    }
}

.right-inner{
    width: calc(478/ 900) * 100%;
    margin:0 calc(196.5 / 900) * 100% 0 auto;
    position: relative;
    height: fit-content;
    overflow: hidden;
    .pc-mv_inner{
        width: 100%;
    }
}

.pc-mv_people{
    width: right(266);
    top: 0;
    left: 0;
    margin: 0{
        top: right(202);
        left: right(84.65);
    };
    z-index: 50;
    
}
.pc-mv_egg{
    width: right(188);
    top: 0;
    right: 0;
    margin: 0{
        top: right(11.5);
        right: right(17.45);
    };
    transform: translate(140px, -130px);
    transition: transform 2s ease;
}
.pc-mv_txt1{
    width: right(91.62);
    top: 0;
    left: 0;
    clip-path: inset(0 0 100% 0);
    transition: all .6s ease .5s;
    margin: 0{
        top: right(341);
        left: right(19.5);
    };
    z-index: 60;
    
}
.pc-mv_txt2{
    width: right(127.43);
    bottom: 0;
    left: 0;
    clip-path: inset(0 100% 0 0);
    transition: all .6s ease .9s;
    margin: 0{
        bottom: right(151);
        left: right(109.7);
    };
    z-index: 40;
    
}
.pc-mv_txt3{
    width: right(135);
    top: 0;
    right: 0;
    clip-path: inset(0 0 100% 0);
    transition: all .6s ease;
    margin: 0{
        top: right(142);
        right: right(57.5);
    };
    z-index: 40;
    
}

.pc-mv_1{
    width: right(261.65);
    top: 0;
    left: 0;
    margin: 0{
        top: right(43);
        left: right(8);
    };
    animation: pc_4 20s ease infinite;
}


.pc-mv_2{
    width: right(233.52);
    top: 0;
    left: 0;
    margin: 0{
        top: right(152.4);
        left: right(92);
    };
    animation: pc_2 20s ease infinite;
}

.pc-mv_3{
    width: right(88.84);
    top: 0;
    left: 0;
    margin: 0{
        top: right(161);
        left: right(12);
    };
    animation: pc_1 20s ease infinite;
}

.pc-mv_4{
    width: right(115.63);
    top: 0;
    left: 0;
    margin: 0{
        top: right(238.4);
        left: right(71.6);
    };
    animation: pc_3 20s ease infinite;
}

.pc-mv_5{
    width: right(42.84);
    top: 0;
    left: 0;
    margin: 0{
        top: right(358);
        left: right(91.7);
    };
    animation: pc_2 20s ease infinite;
}

.pc-mv_6{
    width: right(81.54);
    bottom: 0;
    left: 0;
    margin: 0{
        bottom: right(211);
        left: right(112.8);
    };
    animation: pc_4 20s ease infinite;
}

.pc-mv_7{
    width: right(171.44);
    bottom: 0;
    left: 0;
    margin: 0{
        bottom: right(33);
        left: right(19.5);
    };
    animation: pc_1 20s ease infinite;
}

.pc-mv_8{
    width: right(274.92);
    bottom: 0;
    right: 0;
    margin: 0{
        bottom: right(20);
        right: right(41);
    };
    animation: pc_2 20s ease infinite;
}

.pc-mv_9{
    width: right(87.17);
    bottom: 0;
    right: 0;
    margin: 0{
        bottom: right(150);
        right: right(48.6);
    };
    animation: pc_3 20s ease infinite;
}

.pc-mv_10{
    width: right(108);
    bottom: 0;
    right: 0;
    margin: 0{
        bottom: right(210);
        right: right(54);
    };
    z-index: 60;
    animation: pc_4 20s ease infinite;
}

.pc-mv_11{
    width: right(47.72);
    top: 0;
    right: 0;
    margin: 0{
        top: right(300);
        right: right(72);
    };
    z-index: 60;
    animation: pc_1 20s ease infinite;
}



@keyframes pc_1 {
    0%,4%,8%,12%,100%{
        transform: rotate(0);
    }
    2%,6%,10%{
        transform: rotate(-10deg);
    }
}
@keyframes pc_2 {
    0%,30%,34%,38%,42%,100%{
        transform: rotate(0);
    }
    32%,36%,40%{
        transform: rotate(10deg);
    }
}
@keyframes pc_3 {
    0%,60%,64%,68%,72%,100%{
        transform: rotate(0);
    }
    62%,66%,70%{
        transform: rotate(-10deg);
    }
}
@keyframes pc_4 {
    0%,80%,84%,88%,92%,100%{
        transform: rotate(0);
    }
    82%,86%,90%{
        transform: rotate(10deg);
    }
}